<!DOCTYPE html>
<html>
<head>
    <title>LOGIN</title>
    <style>
        body { font-family: sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; background-image: url('/img/fondo-login.png'); background-color: white; 
        background-size:cover; background-position: right; background-repeat: repeat;
        }
        .container { background-color: rgb(182, 181, 181); padding: 30px; border-radius: 8px; box-shadow: 0 4px 6px rgba(248, 6, 6, 0.1); }
        h1 { text-align: center; color: #ffffff; }
        .error { color: red; text-align: center; margin-bottom: 15px; }
        .success { color: green; text-align: center; margin-bottom: 15px; }
        input[type="email"], input[type="password"] { width: 100%; padding: 10px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; }
        button { background-color: #007bff; color: white; padding: 12px 20px; border: none; border-radius: 4px; cursor: pointer; width: 100%; }
        button:hover { background-color: #0056b3; }
        p { text-align: center; margin-top: 15px; }
        a { color: #1115da; text-decoration: none; }
    </style>    
</head>
<body>
    <div class="container">
        <h1>Iniciar Sesión</h1>
        
        {{#if success}}
            <p class="success">Ingresando {{success}}</p>
        {{/if}}
        
        {{#if error}}
            <p class="error">Error {{error}}</p>
        {{/if}}

        <form method="POST" action="/login">
            <label for="email"><b>Correo (Usuario)</b></label>
            <input type="email" placeholder="Ingresa tu correo" name="email" required>

            <label for="password"><b>Contraseña</b></label>
            <input type="password" placeholder="Ingresa tu contraseña" name="password" required>

            <button type="submit">Login</button>
        </form>
        
        <p>¿No tienes cuenta? <a href="/register">Regístrate aquí</a></p>
    </div>
</body>
</html>