<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido</title>
    <style>
        body { font-family: sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #e6f7ff; flex-direction: column; }
        h1 { color: #0056b3; }
        p { color: #333; font-size: 1.2em; }
        a { color: #ff0000; text-decoration: none; margin-top: 20px; padding: 10px 20px; border: 1px solid #ff0000; border-radius: 5px; }
    </style>
</head>
<body>
    <h1>Dashboard de Testeo!</h1>
    <p>{{message}}</p>
    <a href="/login">Cerrar Sesión</a>
</body>
</html>